// variables

// color

$white: #ffffff;
$black: #353535;
$grey: #CCCCCC;
$primary: #FAA500;
$secondary: scale-color($primary, $lightness: -30%);

// transition

$transition: all .3s ease-in-out;

// opacity
$opacity: .5;
